/* Import Adobe Fonts */
 @import url("https://use.typekit.net/nau6uyc.css");

/* Import fonts */
@font-face {
font-family: "Roseritta";
  src: url("https://krysialynne-concierge-dubsado.netlify.app/fonts/Roseritta.woff2") format("woff2");
  font-weight: 400;
  font-display: block;
}

@font-face {
font-family: "Bon Vivant Script";
  src: url("https://krysialynne-concierge-dubsado.netlify.app/fonts/Bon_Vivant_Script.woff2") format("woff2");
  font-weight: 400;
  font-display: block;
}


/* Set color variables */
:root {
  --kl-color-txt: #333333;
  --kl-color-bg: #f2f2f3;
  --kl-color-light: #d8d5d2;
  --kl-color-med: #B79579;
  --kl-color-dark: #3A3D41;
}

/* Global Dubsado styles */
.jb-form {
font-family: calluna, serif;
font-weight: 400;
font-style: normal;
  color: var(--kl-color-txt);
}

.jb-form h1 {
font-family: mencken-std-head, sans-serif;
font-weight: 400;
font-style: normal;
letter-spacing: .25em;
}

.jb-form h2 {
font-family: mencken-std-head-compress, sans-serif;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
letter-spacing: .15em;
}

.jb-form h3 {
 font-family: mencken-std-head, sans-serif;
font-weight: 400;
font-style: italic;
 letter-spacing: .15em;

}

.jb-form h4 {

}

/* targets all the question text */
.jb-form label {}

/* short answer and date select boxes */
.jb-form input {}

/* free response boxes */
.jb-form textarea {}

/* dropdown boxes - including workflow and project tracking */
.jb-form select {}

/* date select button with calendar icon */
.btn-cal {}

/* image elements */
.form-image {}

#submitButton button {}
